<footer class="footer">
    <hr />
    <div class="footer__desktop">
        <div class="footer__desktop-box">
            <div class="footer__logo">
                <a routerLink="/" class="footer__logo-text"
                    ><img
                        src="img/logo.svg"
                        alt="Logo"
                        class="footer__logo-img" />Creator<span>CV</span>
                </a>
            </div>
            <div class="footer-links">
                <ul class="footer__desktop-list footer-list">
                    <li class="footer__desktop-item footer-item">
                        <a routerLink="creator">Kreator</a>
                    </li>
                    <li class="footer__desktop-item footer-item">
                        <a routerLink="blog">Blog</a>
                    </li>
                    <li class="footer__desktop-item footer-item">
                        <a routerLink="faq">FAQ</a>
                    </li>
                    <li class="footer__desktop-item footer-item">
                        <a routerLink="#">Kontakt</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__desktop__bottom-box">
            <div class="footer__desktop-social-media-box">
                <a routerLink="#"
                    ><img src="img/instagram.svg" alt="instagram"
                /></a>
                <a routerLink="#"><img src="img/fb.svg" alt="facebook" /></a>
                <a routerLink="#"><img src="img/twitter.svg" alt="facebook" /></a>
            </div>

            <div>
                <p class="footer__desktop-copyright">
                    &copy; 2024 Creator CV. Wszelkie prawa zastrzeżone.
                </p>
            </div>
        </div>
    </div>
    <div class="footer--mobile">
        <div class="footer--mobile-box">
            <div class="footer__logo">
                <a routerLink="#" class="footer__logo-text"
                    ><img
                        src="img/logo.svg"
                        alt="Logo"
                        class="footer__logo-img" />Creator<span>CV</span>
                </a>
            </div>
            <div class="footer--mobile-social-media-box">
                <a routerLink="#"
                    ><img src="img/instagram.svg" alt="instagram"
                /></a>
                <a routerLink="#"><img src="img/fb.svg" alt="facebook" /></a>
                <a routerLink="#"><img src="img/twitter.svg" alt="facebook" /></a>
            </div>
        </div>
        <p class="footer--mobile-copyright">
            &copy; 2024 Creator CV. Wszelkie prawa zastrzeżone.
        </p>
    </div>
</footer>