<header class="header section-padding">
  <div class="wrapper">
    <div class="header__box">
      <h1 class="header__title">
        CREATOR CV jest darmowym
        <span
          ><img src="img/span.svg" alt="" class="rectangle" />narzędziem</span
        >
        do tworzenia PRO CV
      </h1>
      <p class="header__text">
        Idealne CV może wyróżnić Cię spośród ogromnej liczby kandydatów i pomóc
        w osiągnięciu wymarzonej pracy. Rekruterzy patrzą na CV średnio przez
        5-7 sekund. CreatorCV jest tutaj, aby pomóc Ci w stworzeniu CV, które
        przyciągnie uwagę rekruterów od razu.
      </p>
      <a routerLink="/firststep" class="header-btn btn-primary">Stwórz CV</a>
    </div>
  </div>
</header>
<main class="main">
  <section class="section-padding offer">
    <div class="offer__images">
      <img
        src="img/MacStudio.png"
        alt="prezentacja strony na komputerze "
        class="offer__images-one"
      />
      <img
        src="img/Realme 10.png"
        alt="prezentacja strony na tablecie"
        class="offer__images-two"
      />
      <img
        src="img/Galaxy Tab S8 Ultra.png"
        alt="prezentacja strony na telefonie"
        class="offer__images-three"
      />
    </div>
    <div class="offer__box">
      <div class="wrapper">
        <div class="offer__box-text">
          <h2 class="offer__box-title">Masz dość bycia bezrobotnym?</h2>
          <p class="offer__box-info">
            Z nami zwiększysz szanse na zatrudnienie o <span>99%!</span>
          </p>
        </div>
      </div>
      <div class="offer__box-img">
        <img
          src="img/Group 7.svg"
          alt="Człowiek szukający ogłoszeń pracy"
          class="offer__box-photo"
        />
        <div class="circle"></div>
      </div>
    </div>
    <a routerLink="/firststep" class="btn-primary">Stwórz CV</a>
  </section>
  <section class="section-padding opinions">
    <div class="wrapper">
      <h2 class="section-heading">
        czego rekruterzy naprawdę szukają w twoim cv?
      </h2>
      <div class="linear-circle"></div>
      <div class="opinions__boxes">
        <div class="opinions__box box-one">
          <div class="opinions__box-quote">
            <img src="img/quote.svg" alt="" />
          </div>
          <p class="opinions__box-info">
            Chcę zobaczyć, jak osobowość kandydatów przejawia się w ich CV i jak
            dobrze wszystko jest zorganizowane. To, co zrobiłeś i niektóre z
            aktywności, w których brałeś udział, pokazują kluczowe szczegóły
            dotyczące Twoich umiejętności i doświadczeń związanych z nauką,
            pracą lub stażem.
          </p>
          <div class="opinions__box-author">
            <div class="opinion__box-author-img">
              <img
                src="img/firstPerson.png"
                alt="chinski czlowiek pijacy kawe"
              />
            </div>
            <div class="opinions__box-author-info">
              <p class="opinions__box-author-name">Guy Hawkins</p>
              <p class="opinions__box-author-description">
                Dział Zasobów Ludzkich BRAC Center Initiatives
              </p>
            </div>
          </div>
        </div>
        <div class="opinions__box box-two">
          <div class="opinions__box-quote">
            <img src="img/quote.svg" alt="" />
          </div>
          <p class="opinions__box-info">
            Upewnij się, że Twoje CV jest sformatowane w taki sposób, aby
            odbiorca mógł je łatwo otworzyć - żaden menedżer ds. zatrudnienia
            nie chce pobierać oprogramowania, aby móc obejrzeć CV. Upewnij się,
            że kiedy zapisujesz swoje CV.
          </p>
          <div class="opinions__box-author">
            <div class="opinion__box-author-img">
              <img
                src="img/SecondPerson.png"
                alt="chinski czlowiek pijacy kawe"
              />
            </div>
            <div class="opinions__box-author-info">
              <p class="opinions__box-author-name">Guy Hawkins</p>
              <p class="opinions__box-author-description">
                Profesor Prawa Northeast University, Chiny
              </p>
            </div>
          </div>
        </div>
        <div class="opinions__box box-three">
          <div class="opinions__box-quote">
            <img src="img/quote.svg" alt="" />
          </div>
          <p class="opinions__box-info">
            Zarządzałem zespołami w różnych organizacjach i brałem udział w
            zatrudnianiu członków. Dzisiejsza kultura pracy zależy od
            umiejętności i jeśli nie podkreślisz ich w swoim CV, szanse na
            zatrudnienie są niewielkie. CreatorCV pomaga podkreślić
            umiejętności, tym samym zwiększając szanse na zatrudnienie.
          </p>
          <div class="opinions__box-author">
            <div class="opinion__box-author-img">
              <img
                src="img/ThirdPerson.png"
                alt="chinski czlowiek pijacy kawe"
              />
            </div>
            <div class="opinions__box-author-info">
              <p class="opinions__box-author-name">Guy Hawkins</p>
              <p class="opinions__box-author-description">
                Analityk Marketingu Cyfrowego NEXT9 Technology
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-padding threeSteps">
    <div class="wrapper">
      <h2 class="section-heading">czego rekruterzy naprawdę szukają w twoim cv?</h2>
      <p class="threeSteps-info">Zobacz jak stworzyć profesjonalne cv w zaledwie kilka minut</p>
      <a routerLink="/firststep" class="btn-primary">Stwórz CV za darmo</a>
      <div class="threeSteps__top-boxes">
        <div class="threeSteps__top-box first-step">
          <button class="threeSteps__btn active threeSteps__btn-one" #stepOneBtn>1.Zarejestruj się</button>
          <hr />
        </div>
        <div class="threeSteps__top-box">
          <button class="threeSteps__btn threeSteps__btn-two" #stepTwoBtn>2.Stwórz CV</button>
          <hr />
        </div>
        <div class="threeSteps__top-box">
          <button class="threeSteps__btn threeSteps__btn-three" #stepThreeBtn>3.Pobierz CV</button>
          <hr />
        </div>
      </div>
      <div class="threeSteps__bottom-boxes">
        <div class="threeSteps__bottom-box threeSteps-box-one active-box" #bottomBoxOne>
          <div class="threeSteps__bottom-text">
            <h3>Twój pierwszy krok</h3>
            <p>
              Upewniliśmy się, że rejestracja w naszych narzędziach do tworzenia CV jest jeszcze bardziej wygodna niż
              zwykle. Twoje dane są u nas ściśle poufne.
            </p>
          </div>
          <div class="threeSteps__bottom-img">
            <img src="img/FirstStep.png" alt="" class="threeSteps__bottom-photo" />
          </div>
        </div>
        <div class="threeSteps__bottom-box threeSteps-box-two" #bottomBoxTwo>
          <div class="threeSteps__bottom-img">
            <img src="img/secondStep.png" alt="" class="threeSteps__bottom-photo" />
          </div>
          <div class="threeSteps__bottom-text">
            <h3>Twój drugi krok</h3>
            <p>
              Upewniliśmy się, że rejestracja w naszych narzędziach do tworzenia CV jest jeszcze bardziej wygodna niż
              zwykle. Twoje dane są u nas ściśle poufne.
            </p>
          </div>
        </div>
        <div class="threeSteps__bottom-box threeSteps-box-three" #bottomBoxThree>
          <div class="threeSteps__bottom-text">
            <h3>Twój trzeci krok</h3>
            <p>
              Upewniliśmy się, że rejestracja w naszych narzędziach do tworzenia CV jest jeszcze bardziej wygodna niż
              zwykle. Twoje dane są u nas ściśle poufne.
            </p>
          </div>
          <div class="threeSteps__bottom-img">
            <img src="img/ThirdStep.png" alt="" class="threeSteps__bottom-photo" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-padding blog">
    <div class="circle-animation left"></div>
    <div class="circle-animation right"></div>
    <div class="wrapper">
      <h2 class="section-heading">Naucz się jak tworzyć najlepsze CV</h2>
      <p class="blog-info">
        Przeczytaj nasz poradnik i dowiedz się jak stworzyć Curriculum Vitae ,
        który zapewni ci większe szanse na zatrudnienie !
      </p>
      <a routerLink="/blog" class="btn-secondary">Czytaj</a>
    </div>
    <img
      src="img/3dicons.png"
      alt="icona pierwszego miejsca"
      class="blog-icon"
    />
  </section>
  <section class="section-padding carousel">
    <div class="wrapper">
      <h2 class="section-heading">Wybierz jeden z gotowych szablonów</h2>
      <div class="container">
        <div class="slider-wrapper">
          <button
            id="prev-slide"
            class="slide-button material-symbols-rounded"
            #prevSlideButton
          >
            chevron_left
          </button>
          <ul class="image-list" #imageList>
            @for (item of templateItems; track $index) {
              <li class="image-box">
                <img class="image-item" [src]="item.image" [alt]="item.alt" />
                <div class="image-title"><h3>{{ item.title }}</h3></div>
              </li>
            }
          </ul>
          <button
            id="next-slide"
            class="slide-button material-symbols-rounded"
            #nextSlideButton
          >
            chevron_right
          </button>
        </div>
        <div class="slider-scrollbar" #sliderScrollbar>
          <div class="scrollbar-track">
            <div class="scrollbar-thumb" #scrollbarThumb></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

